---
title: Jana Pauls
layout: default
image: 
header-titles:
- Jana Pauls.
- Evangelist.
---

<!--<div class="tv">
    <div class="screen mute" id="tv"></div>
</div>-->
<!-- box-intro -->
<section class="box-intro">
    <div class="table-cell">
        <h1 class="box-headline letters rotate-2">
            <span class="box-words-wrapper">
            <b class="is-visible">{{ page.header-titles[0] }}</b>
            {% for item in page.header-titles %}
                {% if forloop.index0 >= 1 %}
                <b>{{ item }}</b>
                {% endif %}
            {% endfor %}
            </span>
        </h1>
        <h5>{{ site.description }}</h5>
    </div>
    <!--<div id="header-scroll" class="scroll">
        <a class="page-scroll" href="#about"><span></span></a>
    </div>-->
</section>
<!-- end box-intro -->
<!-- posts div -->
<section>
<div class="posts-div">
    <div class="posts">
        <div class="no-padding posts_container">{% for post in site.posts %}{% if forloop.index0 == 3 or forloop.index0 == 6 %}
            <style>
            #p{{ forloop.index0 }} {
                width: 100%;
                padding-bottom: 100%;
                background-image: url('{{ post.image }}');
                background-size: cover;
            }
            </style>
            <div class="col-md-6 col-sm-12">
                <div class="square">
                    <a href="{{ post.url }}" class="posts_item" id="p{{forloop.index0}}">
                        <!--<img src="{{ post.image }}" alt="{{ post.title }}"/>-->
                        <div class="posts_item_hover">
                            <div class="posts-border clearfix">
                                <div class="item_info">
                                    <span>{{ post.title }}</span>
                                    <em>{{ post.subtitle }}</em>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>{% else %}
            <div class="col-md-3 col-sm-6">
                <style>
                #p{{ forloop.index0 }} {
                    width: 100%;
                    padding-bottom: 100%;
                    background-image: url('{{ post.image }}');
                    background-size: cover;
                }
                </style>
                <div class="square">
                    <a href="{{ post.url }}" class="posts_item" id="p{{forloop.index0}}">
                        <!--<img src="{{ post.image }}" alt="{{ post.title }}"/>-->
                        <div class="posts_item_hover">
                            <div class="posts-border clearfix">
                                <div class="item_info">
                                    <span>{{ post.title }}</span>
                                    <em>{{ post.subtitle }}</em>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>{% endif %}{% endfor %}
        </div>
        <!-- end posts_container -->
    </div>
    <!-- posts -->
</div>
</section>