---
title: Jana Pauls
layout: default
image: 
header-titles:
- Jana Pauls.
- Evangelist.
---

<!--<div class="tv">
    <div class="screen mute" id="tv"></div>
</div>-->
<!-- box-intro -->
<section class="box-intro">
    <div class="table-cell">
        <h1 class="box-headline letters rotate-2">
            <span class="box-words-wrapper">
            <b class="is-visible">{{ page.header-titles[0] }}</b>
            {% for item in page.header-titles %}
                {% if forloop.index0 >= 1 %}
                <b>{{ item }}</b>
                {% endif %}
            {% endfor %}
            </span>
        </h1>
        <h5>{{ site.description }}</h5>
        <a href=""><button class="btn btn-square btn-lg">I JUST GOT SAVED</button></a>
    </div>
    <!--<div id="header-scroll" class="scroll">
        <a class="page-scroll" href="#about"><span></span></a>
    </div>-->
</section>
<!-- end box-intro -->
<!-- posts div -->
<section>
<div class="posts-div">
    <div class="posts">
        <div class="no-padding posts_container">{% for post in site.posts %}
            <style>
            .post_{{ forloop.index0 }} {
                width: 100%;
                padding-bottom: 100%;
                background-image: url('{{ post.image }}');
                background-size: cover;
                background-position: center center;
            }
            @media only screen and (max-width: 768px) {
                .post_{{ forloop.index0 }} {
                    background-attachment: fixed;
                }
            }
            </style>
            <div class="col-md-3 col-sm-6">
                <a href="{{ post.url }}" class="posts_item post_{{forloop.index0}}">
                    <div class="posts_item_hover">
                        <div class="posts-border clearfix">
                            <div class="item_info">
                                <span>{{ post.title }}</span>
                                <em>{{ post.subtitle }}</em>
                            </div>
                        </div>
                    </div>
                </a>
            </div>{% endfor %}
        </div>
        <!-- end posts_container -->
    </div>
    <!-- posts -->
</div>
</section>