<style>
    #about{
        background-image: url('{{ site.about.image }}');
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
        background-repeat: none;
        background-attachment: fixed;
        background-position: center center;
    }
    @media only screen and (max-width: 768px) {
        #about {
        background-attachment: scroll;
        }
    }
</style>
<section id="about">
    <div class="container main-container clearfix text-center"> 
        <div class="col-md-6 col-md-offset-3">
           <h2 class="uppercase text-center">{{site.title}}</h2>
           <h4 class="text-center">{{ site.about.subtitle }}</h4>
            <div class="h-10"></div>
            <p>{{ site.about.text }}</p>
            <div class="h-10"></div>
            <ul class="social-ul">
            <li class="box-social"><a href="https://www.facebook.com/gerssian"><i class="ion-social-facebook"></i></a></li>
            <li class="box-social"><a href="https://instagram.com/janapauls"><i class="ion-social-instagram-outline"></i></a></li>
            <li class="box-social"><a href="https://twitter.com/gerssian"><i class="ion-social-twitter"></i></a></li>
            </ul>
        </div>
    </div>
</section>