<footer>
    <div class="container-fluid">
        <div class="col-md-4 col-sm-4">
            <h2>Menu</h2>
            <ul style="padding: 0px;">{% assign navigation_pages = site.html_pages | sort: 'navigation_weight' %} {% for p in navigation_pages %} {% if p.navigation_weight %}<li style="list-style-type:none;"><a href="{{ p.url }}">{{ p.title }}</a></li>{% endif %} {% endfor %}
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="col-md-12 container-fluid text-center">
                <h3>Subscribe to the Newsletter</h3>
                <form action="//blog.us6.list-manage.com/subscribe/post?u=dd47ccc168c795028708b2e2a&amp;id=b51706ad3b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="input-contact">
                                <input type="text" name="EMAIL" placeholder="YOUR EMAIL" id="mce-EMAIL">
                            </div>
                            <div class="input-contact">
                                <input type="text" name="FNAME" placeholder="YOUR FIRST NAME" id="mce-FNAME">
                            </div>
                            <div class="input-contact">
                                <input type="text" name="LNAME" placeholder="YOUR LAST NAME" id="mce-LNAME">
                            </div>
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_dd47ccc168c795028708b2e2a_b51706ad3b" tabindex="-1" value=""></div>
                            <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-square btn-lg">Subscribe</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>    
        <div class="col-md-4 col-sm-4">
            <p class="copyright">Developed by: <a href="https://jordanmoconnor.com">Jordan O'Connor</a></p>
            <p class="copyright">© {{ site.title }} {{ site.time | date: '%Y' }}</p>
            <ul class="social-ul">
                <li class="box-social"><a href="https://www.facebook.com/gerssian"><i class="ion-social-facebook"></i></a></li>
                <li class="box-social"><a href="https://instagram.com/janapauls"><i class="ion-social-instagram-outline"></i></a></li>
                <li class="box-social"><a href="https://twitter.com/gerssian"><i class="ion-social-twitter"></i></a></li>
            </ul>
        </div>
    </div>
</footer>

<!-- back to top -->
<a href="#0" class="cd-top"><i class="ion-android-arrow-up"></i></a>
