<footer>
    <div class="container-fluid">
        <div class="col-md-4 col-sm-4">
            <p class="copyright">© Jana Pauls {{ site.time | date: '%Y' }}</p>
        </div>
        <div class="col-md-4 col-sm-4">
            <ul class="social-ul">
                <li class="box-social"><a href="https://www.facebook.com/gerssian"><i class="ion-social-facebook"></i></a></li>
                <li class="box-social"><a href="https://instagram.com/janapauls"><i class="ion-social-instagram-outline"></i></a></li>
                <li class="box-social"><a href="https://twitter.com/gerssian"><i class="ion-social-twitter"></i></a></li>
            </ul>        </div>    
        <div class="col-md-4 col-sm-4">
            <p class="copyright">Developed by: <a href="https://jordanmoconnor.com">Jordan O'Connor</a></p>
        </div>
    </div>
</footer>

<!-- back to top -->
<a href="#0" class="cd-top"><i class="ion-android-arrow-up"></i></a>
