
<section id="give">
    <div class="container main-container clearfix"> 
        <div class="col-md-12">
           <h2 class="uppercase">{{ site.give.subtitle }}</h2>
           <div class="h-30"></div>
            <p>{{ site.give.text }}</p>
            <div class="h-10"></div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <a href="{{ site.paypal }}"><button class="btn btn-square btn-lg">Give via PayPal or Credit Card</button></a>
            </div>
        </div>
    </div>
</section>
