
<section id="give">
    <div class="container main-container clearfix"> 
        <div class="col-md-12">
           <h2 class="uppercase">{{ site.give.subtitle }}</h2>
           <div class="h-30"></div>
            <p>{{ site.give.text }}</p>
            <div class="h-10"></div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <h3>One-time Giving</h3>
                <a href="https://www.paypal.me/JanaP"><button class="btn btn-square btn-lg">Give via PayPal</button></a>
            </div>
            <div class="col-sm-6">
                <h3>Monthly Giving</h3>
                <a href="https://www.patreon.com/"><button class="btn btn-square btn-lg">Give via Patreon</button></a>
            </div>
            <!--<div class="col-md-4">
                <p>Or make a transfer to:
                <br><strong>DNB Nor</strong>
                <br><strong>Account #</strong>: 1203.54.40508
                <br><strong>BIC</strong>: DNBANOKKXXX
                <br><strong>IBAN</strong>: NO87 1203 5440 508</p>
            </div>-->
        </div>
    </div>
</section>