<div class="container-fluid">
    <style>
        .box-intro {
            background-image: -webkit-linear-gradient( rgba(255, 255, 255, .5), rgba(255, 255, 255, .5));
            background-image: linear-gradient( rgba(255, 255, 255, .5), rgba(255, 255, 255, .5));
        }
    </style>
    <div id="header-image">
        <section class="box-intro">
            <div class="table-cell">
                <h1 class="box-headline letters rotate-2">
                    <span class="box-words-wrapper">
            <b class="is-visible">{{ page.header-titles[0] }}</b>
            {% for item in page.header-titles %}
                {% if forloop.index0 >= 1 %}
                <b>{{ item }}</b>
                {% endif %}
            {% endfor %}
            </span>
                </h1>
                <div class="container">
                    <h5>{{ site.description }}</h5>
                </div>
            </div>
        </section>
    </div>
    <section id="numbers">
        <div class="container main-container clearfix text-center">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2>Global Impact</h2>
                </div>
                <div class="col-md-4 text-center">
                    <h3>Souls Saved</h3>
                    <h1>{{ site.counter.souls }}</h1>
                </div>
                <div class="col-md-4 text-center">
                    <h3>Countries Reached</h3>
                    <h1>{{ site.counter.countries }}</h1>
                </div>
                <div class="col-md-4 text-center">
                    <h3>Cities Reached</h3>
                    <h1>{{ site.counter.cities }}</h1>
                </div>
            </div>
        </div>
    </section>
    <style>
        #devotionals {
            background-image: -webkit-linear-gradient( rgba(255, 255, 255, .5), rgba(255, 255, 255, .5)),
            url('{{ site.devotionals.image }}');
            background-image: linear-gradient( rgba(255, 255, 255, .5),
            rgba(255, 255, 255, .5)),
            url('{{ site.devotionals.image }}');
            -webkit-background-size: cover;
            -moz-background-size: cover;
            background-size: cover;
            -o-background-size: cover;
            background-repeat: none;
            background-attachment: fixed;
            background-position: center center;
        }
        
        @media only screen and (max-width: 768px) {
            #devotionals {
                background-attachment: scroll;
            }
        }
    </style>
    <section id="devotionals">
        <div class="container main-container clearfix text-center">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2>Devotionals</h2>
                    {% assign items = site.devotionals | sort: 'date' | reverse %} {% for item in items limit:1 %}
                    <div class="col-md-12 text center">
                        <h2><a href="{{ item.url | absolute_url }}">{{ item.title }}</a></h2><span class="post-meta">{{ item.date | date: "%b %-d, %Y" }}</span>
                        <p>{{ item.content | strip_html | truncatewords: 50 }}</p>
                    </div>
                    {% endfor %}
                    <a href="{{ 'devotionals.html' | absolute_url }}"><button class="btn btn-square btn-lg">View All Devotionals</button></a>
                </div>
            </div>
        </div>
    </section>
    <section id="media">
        <div class="container main-container clearfix">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <div class="col-md-12 text center">
                        <h2>Media</h2>
                    </div>
                    <div class="col-md-12 text center">
                        {% assign items = site.media | sort: 'date' | reverse %} {% for item in items limit:1 %}
                        <h2><a href="{{ item.url | absolute_url }}">{{ item.title }}</a></h2><span class="post-meta">{{ item.date | date: "%b %-d, %Y" }}</span>
                        <p>{{ item.content | strip_html | truncatewords: 50 }}</p>
                        {% if item.video_id[0] != "none" %}
                        <div class="videoWrapper">
                            <iframe width="560" height="315" src="" data-src="https://www.youtube.com/embed/{{ item.video_id[0] }}" frameborder="0" allowfullscreen></iframe>
                        </div>
                        {% else %} {% if item.image %}
                        <div class="thumb-crop">
                            <a href="{{ item.url | absolute_url }}"><img src="{{item.image}}" alt="{{item.title}}" /></a>
                        </div>
                        {% endif %} {% endif %} {% endfor %}
                    </div>
                    <div class="col-md-12 text center">
                        <div class="h-30"></div>
                        <a href="{{ 'media.html' | absolute_url }}"><button class="btn btn-square btn-lg">View All Media</button></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="posts-div">
            <div class="posts">
                <div class="no-padding posts_container">{% for post in site.posts limit:8 %}
                    <style>
                        .post_{{forloop.index0}} {
                            width: 100%;
                            padding-bottom: 100%;
                            background-image: url('{{ post.image }}');
                            background-size: cover;
                            background-position: center center;
                        }
                        
                        @media only screen and (max-width: 768px) {
                            .post_{{forloop.index0}} {
                                padding-bottom: 50%;
                                background-attachment: scroll;
                                background: -webkit-linear-gradient( rgba(0, 0, 0, .5),
                                rgba(0, 0, 0, .5)),
                                url("{{ post.image }}");
                                background: linear-gradient( rgba(0,0,0,.5),rgba(0,0,0,.5)),url("{{ post.image }}");
                            }
                        }
                    </style>
                    <div class="col-md-3 col-sm-6">
                        <a href="{{ post.url }}" class="posts_item post_{{forloop.index0}}">
                            <div class="posts_item_hover">
                                <div class="posts-border clearfix">
                                    <div class="item_info">
                                        <span style="font-weight:300">{{ post.title }}</span>
                                        <span style="font-size: 12px; margin-top: 20px;">{{post.date | date_to_string}}</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>{% endfor %}
                </div>
            </div>
        </div>
    </section>
</div>
