<!-- modernizr -->
<!--<script src="/js/modernizr.js"></script> this was inlined-->
<!-- jQuery -->
<!--<script src="/js/jquery-3.1.1.min.js"></script> this was inlined--> 
<!--  plugins -->
<!-- Latest compiled and minified JavaScript -->
<script async src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script async src="/js/menu.js"></script>
<script async src="/js/animated-headline.js"></script>
<script async src="/js/isotope.pkgd.min.js"></script>
<script async src="/js/fitvid.js"></script>

<script>
$(document).ready(function(){
  $(".media").fitVids();
 });
</script>
<!--  custom script -->
<script async src="/js/custom.js"></script>

{% if site.ga_analytics %}
  <script>
    window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
    ga('create','{{ site.ga_analytics }}','auto');ga('send','pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async defer></script>
{% endif %}