<!-- jQuery -->
<script src="/js/jquery-3.1.1.min.js"></script>
<!--  plugins -->
<script src="/js/bootstrap.min.js"></script>
<script src="/js/menu.js"></script>
<script src="/js/animated-headline.js"></script>
<script src="/js/isotope.pkgd.min.js"></script>
<script src="/js/fitvid.js"></script>

<script>
$(document).ready(function(){
  $(".media").fitVids();
 });
</script>
<!--  custom script -->
<script src="/js/custom.js"></script>

{% if site.ga_analytics %}
  <script>
    window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
    ga('create','{{ site.ga_analytics }}','auto');ga('send','pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async defer></script>
{% endif %}