<div class="container-fluid"> 
    <!-- box-header -->
    <header class="box-header">
        <div class="box-logo">
            <div id="nav-logo"><a href="index.html">JANA PAULS MINISTRIES INTL.</a></div>
        </div>
        <!-- box-nav -->
        <a href=""><button class="btn btn-square give-button">G I V E</button></a>
        <a class="box-primary-nav-trigger" href="#0">
            <span class="box-menu-text">Menu</span><span class="box-menu-icon"></span>
        </a>
    </header>
    <!-- end box-header -->
    
    <!-- nav -->
    <nav>
        <ul class="box-primary-nav">  
            <li class="box-label">Menu</li>
            {% for page in site.pages %}
            {% if page.layout == "pages" %}
            <li><a href="{{ page.url }}">{{ page.title }}</a></li>
            {% endif %}
            {% endfor %}
            <li class="box-label">Social</li>

            <li class="box-social"><a href="https://www.facebook.com/gerssian"><i class="ion-social-facebook"></i></a></li>
            <li class="box-social"><a href="https://instagram.com/janapauls"><i class="ion-social-instagram-outline"></i></a></li>
            <li class="box-social"><a href="https://twitter.com/gerssian"><i class="ion-social-twitter"></i></a></li>
            <li class="box-label">Support</li>
            <li class="box-label"><button class="btn btn-square btn-lg btn-white">Give Now</button></li>
        </ul>
    </nav>
    <!-- end nav -->  
</div>