<div class="container-fluid"> 
    <!-- box-header -->
    <header class="box-header">
        <div class="box-logo">
            <div id="nav-logo"><a href="index.html">JANA PAULS MINISTRIES INTL.</a></div>
        </div>
        <!-- box-nav -->
        <a class="box-primary-nav-trigger" href="#0">
            <span class="box-menu-text">Menu</span><span class="box-menu-icon"></span>
        </a>
    </header>
    <!-- end box-header -->
    
    <!-- nav -->
    <nav>
        <ul class="box-primary-nav">
            <li class="box-label">About me</li>
            
            <li><a href="index.html">Intro</a></li>
            <li><a href="about.html">About</a></i></li>
            <li><a href="contact.html">Contact</a></li>

            <li class="box-label">Follow me</li>

            <li class="box-social"><a href="https://www.facebook.com/gerssian"><i class="ion-social-facebook"></i></a></li>
            <li class="box-social"><a href="https://instagram.com/janapauls"><i class="ion-social-instagram-outline"></i></a></li>
            <li class="box-social"><a href="https://twitter.com/gerssian"><i class="ion-social-twitter"></i></a></li>
        </ul>
    </nav>
    <!-- end nav -->  
</div>