---
layout: default
---

<style>
    .top-bar {
        color: #333;
        padding: 150px 0 150px;
        background: -webkit-linear-gradient( rgba(255, 255, 255, .8), rgba(255, 255, 255, .8)), url("{{ page.image }}");
        background: linear-gradient( rgba(255, 255, 255, .8), rgba(255, 255, 255, .8)), url("{{ page.image }}");
        background-size: cover;
        background-attachment: fixed;
        background-position: center center;
        text-align: center;
    }
    @media only screen and (max-width: 768px) {
        .top-bar {
            color: #333;
            padding: 150px 0 150px;
            background: -webkit-linear-gradient( rgba(255, 255, 255, .8), rgba(255, 255, 255, .8)), url("{{ page.image }}");
            background: linear-gradient( rgba(255, 255, 255, .8), rgba(255, 255, 255, .8)), url("{{ page.image }}");
            background-size: cover;
            background-attachment: scroll;
            background-position: center center;
            text-align: center;
        }
    }
</style>

<div class="top-bar">
    <div class="container">
        <div class="col-xs-10 col-xs-offset-1">
            <h1>{{ page.title }}</h1>
            <h3>{{ page.subtitle }}</h3>
            <h4>{{ page.date | date_to_string}}</h4>
        </div>
    </div>
</div>

<div class="container main-container">
    <div class="col-md-9">
        <style>
            img {
                width: 100%;
            }
        </style>
        {{ content }}
        {% include comments.html %}
    </div>
    <div class="col-md-3">
        <div class="h-30"></div>
        {% if page.tags[0] != 'none' %}
        <h3>Tags</h3>
        <ul class="cat-ul">
            {% for item in page.tags %}
            <li><i class="ion-ios-circle-filled"></i>{{ item }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <div class="h-10"></div>
        <ul class="social-ul">
            <li class="box-social"><h4>Share:</h4></li>
            <li class="box-social"><a href="https://facebook.com/sharer.php?u={{ site.baseurl | prepend: site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook"><i class="ion-social-facebook"></i></a></li>
            <li class="box-social"><a href="mailto:?subject=Jana Pauls - {{ page.title }}&amp;body=Check out this message from Jana Pauls: {{ site.baseurl | prepend: site.url }}{{ page.url }}" rel="nofollow" title="Share with Email"><i class="ion-email"></i></a></li>
            <li class="box-social"><a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.baseurl | prepend: site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Twitter"><i class="ion-social-twitter"></i></a></li>        
        </ul>
        <div class="col-md-12 container-fluid text-center">
            <h3>Subscribe to the Newsletter</h3>
            <form action="//blog.us6.list-manage.com/subscribe/post?u=dd47ccc168c795028708b2e2a&amp;id=b51706ad3b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div class="row">
                    <div class="col-md-12">
                        <div class="input-contact">
                            <input type="text" name="EMAIL" placeholder="YOUR EMAIL" id="mce-EMAIL">
                        </div>
                        <div class="input-contact">
                            <input type="text" name="FNAME" placeholder="YOUR FIRST NAME" id="mce-FNAME">
                        </div>
                        <div class="input-contact">
                            <input type="text" name="LNAME" placeholder="YOUR LAST NAME" id="mce-LNAME">
                        </div>
                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_dd47ccc168c795028708b2e2a_b51706ad3b" tabindex="-1" value=""></div>
                        <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-square btn-lg">Subscribe</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-12 container-fluid">
        <hr>
            <h3 class="page-heading">Other Posts</h3>
            <ul class="cat-ul">
                {% for post in site.posts limit: 5%}
                <li>
                    <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
